site_name: twitterengine
site_tag_line: A twitter aggregator for Google AppEngine
site_domain: twitterengine.appspot.com

twitter_username: <username>
twitter_password: <password>

users:
- SimonEmilAmmitz
- anderssamuelsen
- vestager
- RasmusPrehn
- oestergaard
- Heunicke
- JeppeKofod
- StemLauritzen
- IdaAuken
- Kirstenbrosbol
- LeneEspersen
- radikale
- KonservativeDK
- folketwinget
- ftwinget

hashes:
- radikale
- KonservativeDK
- folketwinget
- ftwinget